@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Post</title>
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script>
        $(function () {
            var arr = [
                { id: "1", name: "Jim", time: "1988-09-11" },
                { id: "2", name: "Lilei", time: "1990-12-11" },
                { id: "3", name: "Lucy", time: "1986-01-10" }
            ];
            $.ajax({
                type: "delete",
                url: "../api/DeleteAPI/GetAllChargingData",
                contentType: 'application/json',
                data: JSON.stringify(arr),
                success: function (data, status) { }
            });

        });
    </script>
</head>
<body>
    <div id="result1">
    </div>
    <div id="result2">
    </div>
    <div id="result3">
    </div>
</body>
</html>