@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Post</title>
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script>
        $(function () {

            $.ajax({
                type: "put",
                url: "../api/PutAPI/Update",
                contentType: 'application/json',
                data: JSON.stringify({ ID: "1" }),
                success: function (data, status) { }
            });

            $.ajax({
                type: "put",
                url: "../api/PutAPI/Update2",
                data: JSON.stringify({ name: "Jim", des: "备注" }),
                contentType: 'application/json',
                success: function (result, status) {
                    if (status == "success") {
                        $("#result1").html(result);
                    }
                },
                error: function (result) {
                    alert(result);
                }
            });

            $.ajax({
                type: "put",
                url: "../api/PutAPI/Update3",
                data: { id: 222, sex: "男", name: "黄飞鸿", time: "1990-1-1" },
                success: function (result, status) {
                    if (status == "success") {
                        $("#result1").html(result);
                    }
                },
                error: function (result) {
                    alert(result);
                }
            });

        });
    </script>
</head>
<body>
    <div id="result1">
    </div>
    <div id="result2">
    </div>
    <div id="result3">
    </div>
</body>
</html>